#
# Symmetric Encryption for Ruby
#
---
production:
  # Since the encryption key must NOT be stored along with the
  # source code, only store the key encryption key here.
  private_rsa_key:

  # List Symmetric Key Ciphers in the order of current / newest first
  ciphers:
    -
      # Name of the file containing the encrypted key and iv.
      key_filename: <absolute/path/to/filename>.key
      iv_filename: <absolute/path/to/filename>.iv

      cipher: aes-256-cbc
      encoding: base64strict
      version: 1
      always_add_header: true
