---
# This configuration file defines all the particular options necessary to support the helper.
# Fields marked (M) are mandatory.
#
# (M)) Helper class name.
:helper_name: JiraHelper
# Optional parameters, these are implementation specific.
:jira_url: https://url/rest/api/2/issue/
:username: jirausername
:password: jirapassword
:project: projectname
# The workflow 'Step Name' and 'Step Name ID' for the 'closed' Status. This is used to close tickets automatically and can be any status
# not just 'Closed'. The Jira helper uses these details to try and find a transition to set the ticket to this status (a transition to
# this status should be available from every other status). Jira's default workflow details are used by default (shown below).
# Note the 'close_step_name' configuration parameter is also used to query Jira for tickets. Any ticket in that status will be ignored.
:close_step_id: 6
:close_step_name: Closed