---
# This configuration file defines all the options necessary to support the helper.
# Fields marked (M) are mandatory.
#

# (M) Helper class name
:helper_name: RemedyHelper

# (M) Remedy create incident SOAP endpoint
:create_soap_endpoint: http://10.4.93.140:8080/arsys/services/ARService?server=bmc-remedy-w&webService=HPD_IncidentInterface_Create_WS
# (M) Remedy query/modify incident SOAP endpoint
:query_modify_soap_endpoint: http://10.4.93.140:8080/arsys/services/ARService?server=bmc-remedy-w&webService=HPD_IncidentInterface_WS
# (M) Username for Remedy
:username: appadmin
# (M) Password for above username
:password: 
# Authentication code (if used by Remedy)
:authentication: 
# (M) First name of the above username
:first_name: App
# (M) Last name of the above username
:last_name: Admin
# (M) Open SOAP connection timeout (in seconds)
:open_timeout: 30
# (M) Read SOAP connection timeout (in seconds)
:read_timeout: 30
