---
# This configuration file defines all the options necessary to support the helper.
# Fields marked (M) are mandatory.
#
# (M) Product name
:product: ServiceNow
# (M) Vendor
:vendor: ServiceNow
# (M) Helper class name
:helper_name: ServiceNowHelper

# (M) ServiceNow url (currently requires using JSON)
:servicenow_url: https://Servicenow_url/u_rpd_vulnerabilities.do?JSONv2
# Use this URL if you have loaded the ticketing UpdateSet for ServiceNow
# (M) Username for ServiceNow
:username: admin
# (M) Password for above username
:password: admin
# (M) If 'Y', SSL connections will output to stderr (default is 'N')
:verbose_mode: N
# (M) Amount of times the helper will follow 301/302 redirections
:redirect_limit: 10
