---
# This configuration file defines all the options necessary to support the helper.
# Fields marked (M) are mandatory.
#
# (M) Product name
:product: ServiceDesk
# (M) Vendor
:vendor: ManageEngine
# (M) Helper class name
:helper_name: ServiceDeskHelper

# (M) REST Endpoint on the ServiceDesk instance
:rest_uri: https://uritoservicedesk:8080/sdpapi/request
# (M) API Key to access the ServiceDesk instance
:api_key: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
# (M) local ticket database path
:ticket_db_path: /var/lib/gems/1.9.1/gems/nexpose_ticketing-0.2.3.jh/lib/nexpose_ticketing/log/servicedesk_ticketdb

# (M) ServiceDesk requester name
:requester: nexpose
# (M) ServiceDesk incident group
:group: Network