---
# This configuration file defines all the options necessary to support the helper.
# Fields marked (M) are mandatory.
#

# (M) Helper class name
:helper_name: ServiceNowHelper

# (M) ServiceNow url (currently requires using JSON)
:servicenow_url: https://dev105.service-now.com/incident.do?JSON
# (M) Username for ServiceNow
:username: admin
# (M) Password for above username
:password: nxadmin
# (M) If 'Y', SSL connections will output to stderr (default is 'N')
:verbose_mode: N
# (M) Amount of times the helper will follow 301/302 redirections
:redirect_limit: 10
