---
# This configuration file defines all the particular options necessary to run the service.
# Fields marked (M) are mandatory.
#
# Service options:
:options:
  # (M) Enables logging to the log directory.
  :logging_enabled: true
  # (M) Sets the log level threshold for output.
  :log_level: info
  # Filters the reports to specific sites one per line, leave empty for no site.
  :sites:
  - '1'
  # Minimum floor severity to report on. Number between 0 and 10.
  :severity: 8
  # (M) Name of the report historical file for sites saved in disk.
  :file_name: last_scan_data.csv
  # (M) Name of the report historical file for tags saved in disk.
  :tag_file_name: tag_last_scan_data.csv
  # (M) Defines the ticket creation mode:
  # 'D' Default IP *-* Vulnerability
  # 'I' IP address -* Vulnerability
  # 'V' Vulnerability -* IP Address (Remedy helper only)
  :ticket_mode: I
  # Timeout in seconds. The number of seconds the GEM waits for a response from Nexpose before exiting.
  :timeout: 10800
  # Ticket batching. Breaks ticket processing into groups of value size controlling resource utilisation of both systems.
  :batch_size: 200
  # (M) For 'I' & 'V' mode. Set to 'Y' for tickets that have been fixed to be closed after update, set to 'N' for ticket to be left
  # open for a user to manually close or change the status.
  :close_old_tickets_on_update: Y
  # Filters the reports to specific tags one per line, leave empty for no tags. Note tags cannot be used in conjunction with sites (tags get priority).
  :tags:
  #- '1'
  # A comma separated list of vulnerability categories to include
  :vulnerabilityCategories:
  # The asset minimum risk score to open tickets for
  :riskScore:
# Nexpose options.
:nexpose_data:
  # (M) Nexpose console hostname.
  :nxconsole: 127.0.0.1 
  # (M) Nexpose username.
  :nxuser: nxadmin
  # (M) Nexpose password.
  :nxpasswd: nxadmin
